@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --color-soft-orange: 35deg 77% 62%;
    --color-soft-red: 5deg 85% 63%;
    --color-off-white: 36deg 100% 99%;
    --color-grayish-blue: 233deg 8% 79%;
    --color-dark-grayish-blue: 236deg 13% 42%;
    --color-darkBlue: 240deg 100% 5%;
  }
  @font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("ttf");
    font-weight: 400 800;
  }
}
